<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Error</h4>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quam quis
    minima incidunt, id aut, inventore ratione, quasi saepe ea ipsa ab ullam
    quas libero. Deserunt a est blanditiis obcaecati.
  </p>
  <hr />
  <p class="mb-0">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus labore
    vel quo accusantium, assumenda placeat nulla. Dolores eveniet itaque odio
    consequatur debitis, architecto atque repudiandae dicta suscipit! Velit,
    reiciendis excepturi!
  </p>
</div>
