<% layout('layouts/boilerplate') %>

<h1 class="display-6">New Campground</h1>
<form
  class="needs-validation"
  action="/campgrounds"
  method="POST"
  enctype="multipart/form-data"
  novalidate
>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="campground[title]"
      required
    />
    <div class="valid-feedback">Looks good!</div>
    <div id="validationServer03Feedback" class="invalid-feedback">
      Please provide a valid title.
    </div>
  </div>

  <div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input
      type="text"
      class="form-control"
      id="location"
      name="campground[location]"
      required
    />
    <div class="valid-feedback">Looks good!</div>
    <div id="validationServer03Feedback" class="invalid-feedback">
      Please provide a valid location.
    </div>
  </div>

  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input
      type="text"
      class="form-control"
      id="price"
      name="campground[price]"
      required
    />
    <div class="valid-feedback">Looks good!</div>
    <div id="validationServer03Feedback" class="invalid-feedback">
      Please provide a price.
    </div>
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">Upload Pictures</label>
    <input
      type="file"
      class="form-control"
      id="image"
      name="images"
      multiple
      required
    />
    <div class="valid-feedback">Looks good!</div>
    <div id="validationServer03Feedback" class="invalid-feedback">
      You need to upload a picture.
    </div>
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      class="form-control"
      id="description"
      name="campground[description]"
      required
    ></textarea>
    <div class="valid-feedback">Looks good!</div>
    <div id="validationServer03Feedback" class="invalid-feedback">
      Tell us something about the campground.
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
